* {
    margin: 0%;
    padding: 0%;   
   }
   
  
  :root {
    --primary-color: #212121;
    --white: #ffffff;
    --border:#F23869;
    --neon:#ccff00;
  }
  
   * {
       box-sizing: border-box;
     }
     
     body {
       background-color: #212121;
       padding: 20px;
       font-family: Arial;
       
     }
     /* Borders */
     .border {
     border-style: solid;
     border-color: #F23869;
     position: relative;
     box-shadow: inset 0 0 0.4em #F23869, 0 0 0.4em #F23869;
     margin: 1rem;
     margin-top: 2rem;
     border-radius: 0.2em;
     padding:0.5rem;
     
}
.border1 {
  border-style: solid;
  border-color: var(--neon);
  position: relative;
  box-shadow: inset 0 0 0.4em var(--neon), 0 0 0.4em var(--neon);
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 0.2em;
  padding:0.5rem;
}    
     .flex-container {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      text-align: center;
      
    }
     .main {
       max-width: 1000px;
       margin: auto;
     }
     
     h1 {
       font-size: 40px;
       color:white;
       word-break: break-all;
       background-color: var(--primary-color);
       display:grid;
     }
     /* Footer */
     footer {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 1.4rem;
     padding-bottom: 1.4rem;
     width: 100%;
     position: relative;
     bottom: 0%;
     z-index: 1;  
     }
      h2 {
      color: #ffffff;
      font-size: 25px;
      word-break: break-all;  
      }
     .row {
       margin: 8px -16px;
     }
     

     .row,
     .row > .column {
       padding: 10px;
     }
     
     
     .column {
       float: left;
       width: 25%;
       border-radius:5px;
       display: grid;
      
     }
     hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
      } 
     
     
  
     .row:after {
       content: "";
       display: table;
       clear: both;
     }
    
    
     
     .content {
       background-color:#A49A9A;
       padding: 10px;
       display: grid;
       border-style: solid;
       border-color: #F23869;
     }
     /* Buttons */
     .btn1 {
      background-color: #F23869; 
      border:solid;
      color: black;
      margin: 0.1rem;
      padding: 0.1rem 0.1rem;
      text-align: center;
      text-decoration: none;
      display: flex;
      font-size: 15px;
      width: 5rem;
     }
     .btn2 {
      background-color: #F23869; 
      border: none;
      color: white;
      padding: 1.5rem 2.5rem;
      text-align: center;
      text-decoration: none;
      display: grid;
      font-size: 16px;
     }
     


 /* Dialog boks Rød */
.dialog-box_info {
  border: 0.2rem solid #F23869;
  box-shadow: inset 0 0 0.4em #F23869, 0 0 0.4em #F23869;
}
.dialog-box_info, .dialog-box_error, .dialog-box_success, .dialog-box_warning {
  border-radius: 1em;
  color: white;
  margin: 5% auto;
  max-width: 15em;
  padding: 1.5rem;
  position: relative;
  width: 95%;
  border-style: solid;
}
.dialog-box_error {
  border: 0.2rem solid #F23869;
  box-shadow: inset 0 0 0.4em  #F23869, 0 0 0.4em #F23869;
}
.dialog-box_success {
  border: 0.2rem solid  #F23869;
  box-shadow: inset 0 0 0.4em #F23869, 0 0 0.4em #F23869;  
}
.dialog-box_warning {
  border: 0.2rem solid  #F23869;
  box-shadow: inset 0 0 0.4em #F23869, 0 0 0.4em #F23869;  
}
.dialog-box_info {
    border: 0.2rem solid  #F23869;
    box-shadow: inset 0 0 0.4em  #F23869, 0 0 0.4em  #F23869;
}
.dialog-box_info, .dialog-box_error, .dialog-box_success, .dialog-box_warning {
    border-radius: 1em;
    color: white;
    margin: 5% auto;
    max-width: 15em;
    padding: 1.5rem;
    position: relative;
    width: 95%;
  }
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}
.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color:  #212121;
}
/* Dialog-box GUL */
.dialog-box_info1:before {
  border-left: 0.2em solid #ccff00;
  border-right: 0.2em solid #ccff00;
  text-shadow: 0 0 0.4em #ccff00
}
.dialog-box_info1:before, .dialog-box_error1:before, .dialog-box_success1:before, .dialog-box_warning1:before {
  background:  #ccff00;
  content: attr(data-title);
  left: 50%;
  padding: 0 1em;
  position: absolute;
  text-transform: uppercase;
  top: -0.6em;
  text-align: center;
  transform: translateX(-50%);
}

  
  .dialog-box_info1:before {
    border-left: 0.2em solid  #ccff00;
    border-right: 0.2em solid  #ccff00;
    text-shadow: 0 0 0.4em  #ccff00;
  }
  .dialog-box_info1:before, .dialog-box_error1:before, .dialog-box_success1:before, .dialog-box_warning1:before {
    background: #ccff00;
    content: attr(data-title);
    left: 50%;
    padding: 0 1em;
    position: absolute;
    text-transform: uppercase;
    top: -0.6em;
    text-align: center;
    transform: translateX(-50%);
    color: #ffffff;
  }
  .dialog-box_error1 {
    border: 0.2em solid #ccff00;
    box-shadow: inset 0 0 0.4em #ccff00, 0 0 0.4em #ccff00;
  }
  .dialog-box_success1 {
    border: 0.2em solid #ccff00;
    box-shadow: inset 0 0 0.4em#ccff00, 0 0 0.4em#ccff00;  
  }
  .dialog-box_warning1 {
    border: 0.2em solid #ccff00;
    box-shadow: inset 0 0 0.4em#ccff00, 0 0 0.4em#ccff00;
}
    /* Responsive layout 1 */
    @media screen and (max-width: 900px) {
      .column {
        width: 50%;
      }
    }
    
       /* Responsive layout 2*/
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
@media screen and (min-width: 1920px) {
  .dialog-box_info, .dialog-box_error, .dialog-box_success, .dialog-box_warning {
      max-width: 30rem;
  padding: 1.5rem;   
  
  }
  .img1 {
  width:25%;
  }    
}

    }