* {
    margin: 0%;
    padding: 0%;   
   }
  :root
  :root {
    --primary-color: #212121;
    --white: #ffffff;
    --border:#F23869;
  }
   * {
       box-sizing: border-box;
     }
     
     body {
       background-color: #212121;
       padding: 20px;
       font-family: Arial;
       border-style: solid;
       border-color:#F23869
     }
     .flex-container {
      display: flex;
      flex-direction: column;
      color: #ffffff;
    }
     .main {
       max-width: 1000px;
       margin: auto;
     }
     
     h1 {
       font-size: 50px;
       color:white;
       word-break: break-all;
       background-color: var(--primary-color);
       display: grid;
     }
      h2 {
      color: #ffffff;
      font-size: 25px;
      word-break: break-all;  
      }
     .row {
       margin: 8px -16px;
     }
     

     .row,
     .row > .column {
       padding: 10px;
     }
     
     
     .column {
       float: left;
       width: 25%;
       border-radius:5px;
       display: grid;
      
     }
     
  
     .row:after {
       content: "";
       display: table;
       clear: both;
     }
     
     
     .content {
       background-color:#A49A9A;
       padding: 10px;
       display: grid;
       border-style: solid;
       border-color: #F23869;
     }
     
    
     @media screen and (max-width: 900px) {
       .column {
         width: 50%;
       }
     }
     
    
     @media screen and (max-width: 600px) {
       .column {
         width: 100%;
       }
     }